<!-- body bala logic yha pr hoga -->
<% layout('layouts/boilerplate')%>  <!--yha layouts k boiler plate ko use kiya h-->
<%- include('../partials/flash') %>  <!--flash ko add krne k liye-->
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="display-6">Login:</h1>
        <form action="/login" method="POST">
            <div class="mb-3">
                <label class="form-label"for="username">Username</label>
                <input type="text" class="form-control"name="username"  id="username" placeholder="username">
            </div>
            <div class="mb-3">
                <label class="form-label"for="password">Password:</label>
                <input type="password" class="form-control"name="password"  id="password" placeholder="password">
            </div>
            <button type="submit" class="btn bnt-sm btn-success mb-3">Login</button>
            <p class="fw-light mt-2">Don't have an account , <a href="/register">Signup</a></p>
        </form>
    </div>
   
</div>
