<% layout('layouts/boilerplate')%>  <!--yha layouts k boiler plate ko use kiya h-->
<%- include('./partials/navbar') %>  <!--navbar ko add krne k liye-->
<!-- ye bo page h jo jb route fatt jayega tou ye show hoga -->
<div class="alert alert-danger" role="danger">
    <h1>error page</h1>
    <%= err %>
</div>
</body>
</html>